body{
    font-family: "Sevillana", cursive;
    background: rgb(159, 4, 4);
    color: black;
    margin: 0px;
    margin-bottom: 100px;
}
.chamada{
    background: white;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
header{
    font-size: 40px;
    color: blue;
    border-bottom: 3px solid rgb(0, 0, 0);
    padding: 20px;
}